<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo</title>
</head>
<body>
    <h1>Hello <%= name %></h1>
    <table>
        <% for (const todo of todos) { %>
            <tr>
                <td style="min-width: 100px; max-width: 200px">
                    <%= todo.title %>
                </td>
                <td>
                    <% if (todo.done) { %>
                        <a href="/toggle-todo/<%= todo.id %>">označit jako nehotové</a>
                        <a href="/remove-todo/<%= todo.id %>">odstranit</a>
                    <% } else { %>
                    <a href="/toggle-todo/<%= todo.id %>">označit jako hotové</a>
                <% } %>
                </td>
            </tr>
        <% } %>
        </table>

    <form method="post" action="/add-todo">
        <input name="title" />
        <button type="submit">Přidat todo</button>
    </form>
</body>
</html>