<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TODO</title>
    <style>
        .priority-low {
            color: #00ff0d;
            font-weight: 600;
        }

        .priority-normal {
            color: rgb(255, 115, 0);
            font-weight: 600;
        }

        .priority-high {
            color: #ff0000;
            font-weight: 700;
        }
    </style>
</head>
<body>
    <div id="todo-details">
        <%- include('_todo.html', { todo: todo }) %>
    </div>
    <details id="edit">
        <summary>Upravit todo</summary>
        Pouze pole, která vyplníš, budou aktualizována. Pro změnu stavu zaškrtni checkbox.
        <hr style="width: 500px; margin-left: 0px">
        <form method="post" action="/edit-todo/<%= todo.id %>" style="width: 250px; margin-bottom: 5px; padding: 5px;"> 
            <label>
                Název:
                <input type="text" name="title" placeholder="<%= todo.title %>"/>
            </label><br>
            <label>
                Priorita:
                <select name="priority">
                    <option value="1" <%= todo.priority === 'nízká' ? 'selected' : '' %>>Nízká</option>
                    <option value="2" <%= todo.priority === 'normální' ? 'selected' : '' %>>Normální</option>
                    <option value="3" <%= todo.priority === 'vysoká' ? 'selected' : '' %>>Vysoká</option>
                </select>
            </label><br>
            <label>
                Popis:<br>
                <textarea name="description" placeholder="<%= todo.description%>" rows="4" cols="30"></textarea>
            </label><br>
            <label>
                Označit jako <%= todo.done ? 'ne' : '' %>dokončené:
                <input type="checkbox" name="toggle">
            </label><br>
            <button type="submit">Uložit změny</button>
        </form>
    </details>
    <hr style="width: 500px; margin-left: 0px">
    <% if (todo.done) { %>
        <a id="remove" href="/remove-todo/<%= todo.id %>" onclick="return confirm('Opravdu chceš odstranit todo \'<%= todo.title %>\'?')">Odstranit</a><br><br>
    <% } %>
    <a href="/">Zpět na hlavní stránku</a>
</body>
<script>
        const ws = new WebSocket(`ws://${window.location.host}/ws`)
        const id = Number(window.location.pathname.split('/').pop())

        ws.addEventListener('open', () => {
            console.log('WebSocket connection established')
        })

        ws.addEventListener('message', (event) => {
            const json = JSON.parse(event.data)

            if (json.name === "todosUpdate" && json.type == "update" && json.id == id) {
                console.log('Todos update received:', json)
                fetch(`/todo-details/${id}`)
                    .then(response => response.text())
                    .then(html => {
                        document.getElementById('todo-details').innerHTML = html
                    })
            } else if (json.name === "todosUpdate" && json.type == "delete" && json.id == id) {
                console.log('Todo delete received:', json)
                document.getElementById('status').innerHTML = '🗑️'
                document.getElementById('description').innerText = 'Todo bylo odstraněno.'
                document.getElementById('edit').remove()
                const removeButton = document.getElementById('remove')
                if (removeButton) {
                    removeButton.remove()
                }
            }
        })
</script>
</html>